body{
    font-family: Arial, Helvetica, sans-serif   ;
    margin: 0;
    display: grid;
    grid-template-areas: "box box aside"
                         "box box aside"
                         "box box aside";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.box, img{
    height: 97.5%;
    width: 990px;
    
}
aside{
background-image: linear-gradient(45deg, rgb(93, 203, 240), rgb(248, 17, 17));
height: 95%;
width: 370px;
text-align: center;
}

.box2{
  background-color: rgba(43, 31, 31, 0.7);
  position: absolute;
  margin-top: 200px;
  margin-left: 65px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  
}

input{
    padding: 5px;
    border: none;
    outline: none;
}
.botao input{
    padding-left: 85px;
    background-color: rgb(0, 128, 255);
    width: 100%;
    padding: 8px;
    color: white;
}

.botao input:hover{
    background-color: deepskyblue;
    cursor: pointer;
}